{% extends 'base_layout.html' %}
{% block madden %}
    <title>
        Sign-up
    </title>
    <style>
        form{
            border: black;
            border-width: 50px;
            background-color: rgb(8, 31, 31);
            padding: 40px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="sign-up" id="btn">
        </form>

    </div>

{% endblock %}