{% extends 'base_layout.html' %}

{% block madden %}
    <title>Home</title>
    <style>
        a{
            color: lightgreen;
            text-decoration: none;
        }
        a:hover{
            color: aquamarine
        }
        .slatt{
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="slatt">
    <h1 id="header-intro" style="font-family: italics; font-size: 10em; padding-right: 10px; padding-left: 10px;"><a href=""><i> Djangonautic </i> </a></h1>
    <br>
    <br>
 
</div>
{% endblock %}